<ion-header>
  <ion-toolbar>
    <ion-card>
      <ion-card-header>
        <ion-img src="../assets/img/logoSaMoney.jpeg" alt="logoSAMoney"></ion-img>
      </ion-card-header>
      <div class="login">
        <p>Login</p>
      </div>
    </ion-card>
  </ion-toolbar>



</ion-header>

<ion-content>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-label position="floating">Téléphone</ion-label>
        <ion-input type="tel" formControlName="telephone"></ion-input>
      </ion-item>
      <div *ngIf="(telephone.dirty || telephone.touched) && telephone.errors" class="errors">
        <span *ngIf="telephone.errors?.required">Telephone is required</span>
        <span *ngIf="telephone.errors?.telephone">Telephone is invalid</span>
      </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>

      <ion-label>Mot de passe oublié?</ion-label>

    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Se connecter</ion-button>

  </form>
</ion-content>
