<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="home-sharp" class="iconhome"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="margin: 0 auto; ">
      <ion-img src="../assets/img/logoSaMoney.jpeg" alt="logoSAMoney"></ion-img>
    </ion-thumbnail>
    <div class="transac">
      <p>Transaction</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button (click)="next()">
      <ion-label>Transactions</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="previous()" *ngIf="[role]=='ROLE_AdminSystem'">
      <ion-label>Les transactions</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size="4">Date</ion-col>
      <ion-col size="4">Type</ion-col>
      <ion-col size="4">Montant</ion-col>
    </ion-row>
    <ion-row tappable (click)="afficherTransaction(transaction)" *ngFor="let transaction of transactions | keyvalue">
      <ion-col size="4">{{transaction?.value.date}}</ion-col>
      <ion-col size="4">{{transaction?.value.type}}</ion-col>
      <ion-col size="4">{{transaction?.value.montant}}</ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
