<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="margin: 0 auto;">
      <ion-img src="../../assets/img/Logo MONEY SA 1.png"></ion-img>
    </ion-thumbnail>
    <ion-avatar slot="end">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" width="30">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label class="ion-text-wrap">
    Mon solde disponible <br>
    150 000 FCFA <br>
    Mise à jour
  </ion-label>
</ion-item>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item><ion-icon name="return-up-forward-outline"></ion-icon><a [routerLink]='"/depot"'>Dépôt</a></ion-item>
    <ion-item><ion-icon name="return-up-back-outline"></ion-icon><a [routerLink]='"/retrait"'>Retrait</a></ion-item>
    <ion-item><ion-icon name="sync-outline"></ion-icon><a [routerLink]='"/transactions"'>Mes Transactions</a></ion-item>
    <ion-item><ion-icon name="sync-outline"></ion-icon><a [routerLink]='"/transactions"'>Toutes les transactions</a></ion-item>
    <ion-item><ion-icon name="apps-outline"></ion-icon><a [routerLink]='"/commissions"'>Mes commissions</a></ion-item>
    <ion-item><ion-icon name="calculator-outline"></ion-icon><a [routerLink]='"/calculateur"'>Calculateur de frais</a></ion-item>
    <ion-item><ion-icon name="enter-outline"></ion-icon><a [routerLink]='"/login"'>Deconnexion</a></ion-item>
  </ion-list>
</ion-content>





