<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/img/Logo MONEY SA 1.png" width="80" height="80"></ion-img>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item><ion-icon name="return-up-forward-outline"></ion-icon>Dépôt</ion-item>
    <ion-item><ion-icon name="return-up-back-outline"></ion-icon>Retrait</ion-item>
    <ion-item><ion-icon name="sync-outline"></ion-icon>Mes transactions</ion-item>
    <ion-item><ion-icon name="sync-outline"></ion-icon>Toutes les transactions</ion-item>
    <ion-item><ion-icon name="apps-outline"></ion-icon>Mes commissions</ion-item>
    <ion-item><ion-icon name="calculator-outline"></ion-icon>Calculateur de frais </ion-item>
    <ion-item><ion-icon name="enter-outline"></ion-icon>Deconnexion</ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-icon name="home-outline"></ion-icon>
    <ion-icon name="sync-outline"></ion-icon>
  </ion-toolbar>
</ion-footer>
