<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="home-sharp" class="iconhome"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="margin: 0 auto; ">
      <ion-img src="../assets/img/logoSaMoney.jpeg" alt="logoSAMoney"></ion-img>
    </ion-thumbnail>
    <div class="commission">
      <p>Mes commissions</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="[role]=='ROLE_AdminSystem'">
  <ion-grid>
    <ion-row>
      <ion-col>Date</ion-col>
      <ion-col>Type</ion-col>
      <ion-col>Montant</ion-col>
    </ion-row>
    <ion-row *ngFor="let transaction of transactions | keyvalue">
      <ion-col>{{transaction?.value.date}}</ion-col>
      <ion-col>{{transaction?.value.type}}</ion-col>
      <ion-col>{{transaction?.value.TotalCommission}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
