<ion-header>
  <ion-toolbar>
    <div class="iconhome">
      <ion-icon slot="start" name="home-sharp"></ion-icon>
    </div>


    <ion-thumbnail style="margin: 0 auto; ">
      <ion-img src="../../assets/img/Logo MONEY SA 1.png"></ion-img>
    </ion-thumbnail>
    <div class="depot">
     <p>Dépôt</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button>
      <ion-label>Emetteur</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>Bénéficiaire</ion-label>
    </ion-segment-button>
  </ion-segment>

<form >
<ion-item>
  <ion-label position="floating">CNI</ion-label>
  <ion-input type="text"></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Nom</ion-label>
  <ion-input type="text"></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Prénom</ion-label>
  <ion-input type="text" ></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Téléphone</ion-label>
  <ion-input type="number" ></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Montant</ion-label>
  <ion-input type="number" ></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Frais</ion-label>
  <ion-input type="number" ></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating">Total</ion-label>
  <ion-input type="number" ></ion-input>
</ion-item>

<ion-button expand="block">Suivant</ion-button>

</form>

</ion-content>
